# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/condo-parktrack?retryWrites=true&w=majority

# NextAuth.js
NEXTAUTH_SECRET=your-super-secret-key-here
NEXTAUTH_URL=http://localhost:3000